.timeline {
  width: 100%;
  height: 300px;
  border: 1px solid #333334;
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}
.timeline__day {
  flex-grow: 1;
  border-right: 1px solid #ececec;
  display: flex;
  flex-direction: column;
}
.timeline__day_friday {
  border-right: 0;
}
.timeline__part {
  padding: 1em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.timeline__part img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
.timeline__weekend {
  width: 2rem;
}
